<form class="full-width" #form="ngForm">
    <md-nav-list>
        <a md-list-item (click)="updateActiveBlock(COMPANY_BLOCK)" class="row">
            <md-icon *ngIf="activeBlock===COMPANY_BLOCK">expand_less</md-icon>
            <md-icon *ngIf="activeBlock!==COMPANY_BLOCK">expand_more</md-icon>
            <h2 md-line>UNTERNEHMENSDATEN</h2>
        </a>
        <div [hidden]="activeBlock!==COMPANY_BLOCK">
            <div class="row">
                <md-input-container class="col-xs-12">
                    <input mdInput [(ngModel)]="unternehmen.name" placeholder="Unternehmensname" name="name" required>
                </md-input-container>
            </div>

            <div class="row">
                <md-input-container class="col-md-8">
                    <input mdInput [(ngModel)]="unternehmen.homepage"
                           pattern="(http(s)?://)?([\w-]+\.)+[\w-]+(/[\w- ;,./?%&=]*)?" name="homepage"
                           placeholder="Homepage" required [formControl]="homepageControl">
                    <md-error *ngIf="homepageControl.hasError('pattern')">
                        Keine gültige Homepage!
                    </md-error>
                    <md-error *ngIf="homepageControl.hasError('required')">
                        This is <strong>required</strong>
                    </md-error>
                </md-input-container>
                <md-input-container class="col-md-4">
                    <input mdInput [(ngModel)]="unternehmen.gruendung" [mdDatepicker]="picker"
                           placeholder="Gruendungsdatum" name="gruendung">
                    <button mdSuffix [mdDatepickerToggle]="picker"></button>
                </md-input-container>
                <md-datepicker #picker [touchUi]="true"></md-datepicker>
            </div>

            <div class="row">
                <md-select class="col-xs-8" name="branche" [(ngModel)]="unternehmen.branche"
                           placeholder="Branche" required>
                    <md-option *ngFor="let branche of branchen" [value]="branche">
                        {{ branche.name }}
                    </md-option>
                </md-select>
                <md-input-container class="col-xs-4">
                    <input type="number" mdInput [(ngModel)]="unternehmen.mitarbeiterAnzahl" name="mitarbeiter"
                           placeholder="Mitarbeiter-Anzahl" [formControl]="mitarbeiterControl" required>
                    <md-error *ngIf="mitarbeiterControl.hasError('min')">
                        Bitte positive Zahl eingeben
                    </md-error>
                </md-input-container>
            </div>

            <div class="row">
                <md-input-container class="col-sm-8"
                                    tdFileDrop
                                    (fileDrop)="logo = $event"
                                    (click)="logoInput.inputElement.click()"
                                     (keyup.enter)="logoInput.inputElement.click()"
                                    (keyup.delete)="logoInput.clear()"
                                    (keyup.backspace)="logoInput.clear()"
                                    flex>
                    <input mdInput placeholder="Logo" [value]="logo?.name" readonly required/>
                </md-input-container>
                <div class="col-sm-1">
                    <button md-icon-button *ngIf="logo" (click)="logoInput.clear()" (keyup.enter)="logoInput.clear()">
                        <md-icon>cancel</md-icon>
                    </button>
                </div>
                <div class="col-sm-2">
                    <td-file-input #logoInput name="logo" [(ngModel)]="logo">
                        <!-- <md-icon>folder</md-icon> -->
                        <span class="text-upper">Browse...</span>
                    </td-file-input>
                </div>
            </div>

            <div class="row">
                <md-input-container class="col-sm-8"
                                    tdFileDrop
                                    (fileDrop)="bild = $event"
                                    (click)="imageInput.inputElement.click()"
                                    (keyup.enter)="imageInput.inputElement.click()"
                                    (keyup.delete)="imageInput.clear()"
                                    (keyup.backspace)="imageInput.clear()"
                                    flex>
                    <input mdInput placeholder="Bild" [value]="bild?.name" readonly/>
                </md-input-container>
                <div class="col-sm-1">
                    <button md-icon-button *ngIf="bild" (click)="imageInput.clear()" (keyup.enter)="imageInput.clear()">
                        <md-icon>cancel</md-icon>
                    </button>
                </div>
                <div class="col-sm-2">
                    <td-file-input #imageInput name="bild" [(ngModel)]="bild">
                        <!-- <md-icon>folder</md-icon> -->
                        <span class="text-upper">Browse...</span>
                    </td-file-input>
                </div>
            </div>
        </div>


        <a md-list-item (click)="updateActiveBlock(PITCH_BLOCK)" class="row">
            <md-icon *ngIf="activeBlock===PITCH_BLOCK">expand_less</md-icon>
            <md-icon *ngIf="activeBlock!==PITCH_BLOCK">expand_more</md-icon>
            <h2 md-line>ONE-SENCTENCE-PITCH</h2>
        </a>
        <div [hidden]="activeBlock!==PITCH_BLOCK">
            <div class="row">
                <md-input-container class="col-xs-12">
                    <textarea mdInput [(ngModel)]="unternehmen.pitch" maxlength="150" name="pitch" placeholder="Pitch"
                              required [formControl]="pitchControl"></textarea>
                    <md-error *ngIf="pitchControl.hasError('maxLength')">
                        Der Pitch darf nicht länger als 150 Zeichen sein
                    </md-error>
                    <md-error *ngIf="pitchControl.hasError('required')">
                        Pitch is <strong>required</strong>
                    </md-error>
                    <md-hint *ngIf="unternehmen.pitch" align="end">{{unternehmen.pitch.length}} / 150</md-hint>
                </md-input-container>
            </div>
        </div>


        <a md-list-item (click)="updateActiveBlock(ADDRESS_BLOCK)" class="row">
            <md-icon *ngIf="activeBlock===ADDRESS_BLOCK">expand_less</md-icon>
            <md-icon *ngIf="activeBlock!==ADDRESS_BLOCK">expand_more</md-icon>
            <h2 md-line>ADRESSE UND KONTAKT</h2>
        </a>
        <div [hidden]="activeBlock!==ADDRESS_BLOCK">
            <div class="row">
                <md-input-container class="col-md-6">
                    <input mdInput [(ngModel)]="unternehmen.strasse" pattern="^[a-zA-ZßÄäÖöÜü/. -]+$" name="strasse"
                           placeholder="Strasse" required [formControl]="strasseControl">
                    <md-error *ngIf="strasseControl.hasError('pattern')">
                        Bitte geben Sie Ihre Straße an
                    </md-error>
                    <md-error *ngIf="strasseControl.hasError('required')">
                        This is <strong>required</strong>
                    </md-error>
                </md-input-container>
                <md-input-container class="col-md-3">
                    <input mdInput [(ngModel)]="unternehmen.hausnummer" placeholder="Nummer" name="hausnr" required>
                </md-input-container>
                <md-input-container class="col-md-3">
                    <input mdInput [(ngModel)]="unternehmen.adresszusatz" placeholder="Zusatz" name="zusatz">
                </md-input-container>
            </div>

            <div class="row">
                <md-input-container class="col-md-6">
                    <input mdInput [(ngModel)]="unternehmen.plz" pattern="^([0]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{3}$"
                           name="plz" placeholder="Postleitzahl" required [formControl]="plzControl">
                    <md-error *ngIf="plzControl.hasError('pattern')">
                        Keine gültige Postleitzahl
                    </md-error>
                    <md-error *ngIf="plzControl.hasError('required')">
                        This is <strong>required</strong>
                    </md-error>
                </md-input-container>
                <md-input-container class="col-md-6">
                    <input mdInput [(ngModel)]="unternehmen.ort" pattern="^[a-zA-ZßÄäÖöÜü/. -]+$" name="ort"
                           placeholder="Standort" required [formControl]="ortControl">
                    <md-error *ngIf="ortControl.hasError('pattern')">
                        Bitte geben Sie Ihren Standort an
                    </md-error>
                    <md-error *ngIf="ortControl.hasError('required')">
                        This is <strong>required</strong>
                    </md-error>
                </md-input-container>
            </div>

            <div class="row">
                <md-input-container class="col-md-6">
                    <input mdInput [(ngModel)]="unternehmen.ansprechpartner" pattern="^[a-zA-ZßÄäÖöÜü/. -]+$" name="ort"
                           placeholder="Ansprechpartner" required [formControl]="ansprechpartnerControl">
                    <md-error *ngIf="ansprechpartnerControl.hasError('pattern')">
                        Bitte geben Sie einen Ansprechpartner an
                    </md-error>
                    <md-error *ngIf="ansprechpartnerControl.hasError('required')">
                        This is <strong>required</strong>
                    </md-error>
                </md-input-container>
                <md-input-container class="col-md-6">
                    <input mdInput [(ngModel)]="unternehmen.telefonnummer" placeholder="Telefon" name="telefon"
                           required>
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="col-md-12">
                    <input mdInput [(ngModel)]="unternehmen.email" name="email" placeholder="Email-Adresse" required>
                </md-input-container>
            </div>
        </div>
    </md-nav-list>

    <div class="pull-right">
        <button
                md-raised-button
                (click)="save()"
                [disabled]="!form.valid || plzControl.status=='INVALID' || pitchControl.status=='INVALID' || homepageControl.status=='INVALID' || strasseControl.status=='INVALID' || ortControl.status=='INVALID' || ansprechpartnerControl.status=='INVALID' || mitarbeiterControl.status=='INVALID'">
            Speichern
        </button>
    </div>
</form>
