<form class="full-width" #form="ngForm">
  <!-- Unternehmeransicht -->
  <h2>One-Sentence-Pitch</h2>
  <div class="columns">
    <md-input-container class="column">
      <textarea mdInput [(ngModel)]="user.pitch" name="pitch" placeholder="Pitch" required></textarea>
    </md-input-container>
  </div>
  <h2>Adresse</h2>
  <div class="columns">
    <md-input-container class="column is-8">
      <input mdInput [(ngModel)]="user.strasse" name="strasse" placeholder="Strasse" required>
    </md-input-container>
    <md-input-container class="column">
      <input mdInput [(ngModel)]="user.hausnr" placeholder="Nummer" name="hausnr" required>
    </md-input-container>
    <md-input-container class="column">
      <input mdInput [(ngModel)]="user.zusatz" placeholder="Zusatz" name="zusatz" >
    </md-input-container>
  </div>
  <div class="columns is-mobile">
    <md-input-container class="column">
      <input mdInput [(ngModel)]="user.plz" placeholder="PLZ" name="plz" required>
    </md-input-container>
    <md-input-container class="column is-three-quarters">
      <input mdInput [(ngModel)]="user.ort" placeholder="Ort" name="ort" required>
    </md-input-container>
  </div>
</form>
