<div *ngIf="cards && cards.length > 0;else no_swipe">
    <div class="row">
        <div class="card-container">
            <sc-card
                    *ngFor="let card of cards;let i = index;"
                    [callDestroy]="card.destroyEvent"
                    [orientation]="orientation"
                    (onRelease)="onRelease($event)"
                    (onSwipe)="onSwipe($event)"
                    (onAbort)="onAbort($event)"
                    [tinder-card]="overlay"
                    [callLike]="card.likeEvent"
                    (onLike)="onCardLike($event)">
                <div class="card-header">
                    <span class="card-bezeichnung">{{card.angebot.bezeichnung}}</span>
                    <span class="card-pitch">"{{card.angebot.unternehmen.pitch}}"</span>
                </div>
                <div class="card-logo">
                    <img [src]="(card && card.angebot && card.angebot.unternehmen.logo && card.angebot.unternehmen.logo.url) || 'http://via.placeholder.com/300x300'" alt="..."
                         class="img-circle img-responsive">
                </div>
                <div class="card-content">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <h4><span class="label label-default">Beschreibung</span></h4>
                                <p>{{card.angebot.beschreibung}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4><span class="label label-default">Anforderung</span></h4>
                                <p>{{card.angebot.anforderung}}</p>
                            </div>
                            <div class="col-sm-4">
                                <h4><span class="label label-default">Arbeitsort</span></h4>
                                <p>{{card.angebot.arbeitsort}}</p>
                            </div>
                            <div class="col-sm-4">
                                <h4><span class="label label-default">Gehalt</span></h4>
                                <p>{{card.angebot.monatsgehalt}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </sc-card>
        </div>
    </div>
    <div class="row swipe-buttons">
        <div class="text-center">
            <button (click)="like(false)" type="button" class="btn btn-danger btn-circle btn-xl"><i
                    class="glyphicon glyphicon-remove"></i></button>
            <button (click)="like(true)" type="button" class="btn btn-success btn-circle btn-xl"><i
                    class="glyphicon glyphicon-ok"></i></button>
        </div>
    </div>
</div>
<ng-template #no_swipe>
    <div class="row swijoInfo">
        <div class="well">
            Zur Zeit liegen leider keine passenden Vorschläge vor :-(<br>
            Jetzt <a [routerLink]="['/config/bewerber']">Such-Einstellungen ändern</a>, um neue Vorschläge zu erhalten!
        </div>
    </div>
</ng-template>
