<div class="row">
  <div class="card-container">
    <sc-card
      *ngFor="let card of cards;let i = index;"
      [callDestroy]="card.destroyEvent"
      [orientation]="orientation"
      (onRelease)="onRelease($event)"
      (onSwipe)="onSwipe($event)"
      (onAbort)="onAbort($event)"
      [tinder-card]="overlay"
      [callLike]="card.likeEvent"
      (onLike)="onCardLike($event)">
      <div class="card-header">
        <span class="card-bezeichnung">{{card.bezeichnung}}</span>
        <span class="card-pitch">"{{card.pitch}}"</span>
      </div>
      <div class="card-logo">
        <img src="http://via.placeholder.com/300x300" alt="..." class="img-circle img-responsive">
      </div>
    </sc-card>
  </div>
</div>
<div class="row" style="margin-top:550px;">
  <div class="text-center">
    <button (click)="like(false)" type="button" class="btn btn-danger btn-circle btn-xl"><i
      class="glyphicon glyphicon-remove"></i></button>
    <button (click)="like(true)" type="button" class="btn btn-success btn-circle btn-xl"><i
      class="glyphicon glyphicon-ok"></i></button>
  </div>
</div>

