.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.card-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80%;
  width: 80%;
  margin: 10px auto;
}

sc-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  background: #B993D6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FEFEFE;
}

.card-pitch {
  font-family: 'Nixie One', cursive;
  font-size: 28px;
  font-weight: 800;
}

.card-bezeichnung {
  font-size: 20px;
  font-weight: 800;
}

.card-logo {
  height: 75px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card-logo img{
  height: 125px;
  margin-top: -62.5px;
}



.card-header2 span {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px;
  background-color: #E1E1E1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.card-heap {
  min-height: 500px;
}

