<nav class="container">
  <ul class="nav nav-pills">
    <li>
      <a [routerLink]=" ['./login'] " routerLinkActive="active">Login</a>
    </li>
    <li>
      <a [routerLink]=" ['./signup'] " routerLinkActive="active">Signup</a>
    </li>
    <li>
      <a [routerLink]=" ['./config'] " routerLinkActive="active">Config</a>
    </li>
    <li>
      <a [routerLink]=" ['/swipe'] " routerLinkActive="active">Let's swipe!</a>
    </li>
  </ul>
</nav>
<main class="container">
  <router-outlet></router-outlet>
</main>

<footer class="container">
</footer>
