<md-toolbar class="drop-shadow" color="primary">
  <span>Swijo</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>account_circle</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <a *ngIf="(isLoggedIn | async)" md-menu-item [routerLink]=" ['./login'] ">
      <md-icon>dialpad</md-icon>
      <span>Abmelden</span>
    </a>
    <a *ngIf="!(isLoggedIn | async)" md-menu-item [routerLink]=" ['./login'] ">
      <md-icon>voicemail</md-icon>
      <span>Anmelden</span>
    </a>
    <a *ngIf="(isLoggedIn | async)" md-menu-item [routerLink]=" ['./config/unternehmen'] ">
      <md-icon>settings</md-icon>
      <span>Einstellungen</span>
    </a>
  </md-menu>
</md-toolbar>


<nav class="container">
  <ul class="nav nav-pills">
    <li>
      <a *ngIf="!(isLoggedIn | async)" [routerLink]=" ['./login'] " routerLinkActive="active">Login</a>
    </li>
    <li>
      <a *ngIf="!(isLoggedIn | async)" [routerLink]=" ['./signup'] " routerLinkActive="active">Signup</a>
    </li>
    <li>
      <a *ngIf="(isLoggedIn | async)" [routerLink]=" ['/swipe'] " routerLinkActive="active">Let's swipe!</a>
    </li>
    <li>
      <a *ngIf="(isLoggedIn | async)" [routerLink]="['/bewerberprofil']" routerLinkActive="active">Bewerberprofil</a>
    </li>
    <li>
      <a *ngIf="(isLoggedIn | async)" [routerLink]=" ['/vacancies'] " routerLinkActive="active">Vacancies</a>
    </li>
    <li>
      <a *ngIf="(isLoggedIn | async)" [routerLink]=" ['/vacancy'] " routerLinkActive="active">Vacancy</a>
    </li>
    <li>
      <a *ngIf="(isLoggedIn | async)" [routerLink]=" ['/accloeschen'] " routerLinkActive="active">Kundenkonto löschen</a>
    </li>
  </ul>
</nav>
<main class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<footer class="container">
  <span>Swijo by <a [href]="baqend">@StrawberryUnicorn</a></span>
</footer>
