<form class="full-width" #form="ngForm">
    <h2>Vacancy</h2>
    <div class="row">
        <md-input-container class="col-xs-12">
            <input mdInput [(ngModel)]="vacancy.bezeichnung" placeholder="Stellen-Bezeichnung" name="bezeichnung" required>
        </md-input-container>
    </div>


    <div class="row">
        <md-input-container class="col-xs-12">
            <textarea mdInput [(ngModel)]="vacancy.beschreibung" maxlength="100" name="beschreibung" placeholder="Stellenbeschreibung" required [formControl]="descriptionControl"></textarea>
            <md-error *ngIf="descriptionControl.hasError('maxLength')">
                Die Beschreibung darf nicht länger als 100 Zeichen sein
            </md-error>
            <md-error *ngIf="descriptionControl.hasError('required')">
                Description is <strong>required</strong>
            </md-error>
            <md-hint *ngIf="vacancy.beschreibung" align="end">{{vacancy.beschreibung.length}} / 100</md-hint>
        </md-input-container>
    </div>


    <div class="row">
        <md-select class="col-sm-12" name="berufsfeld" [(ngModel)]="vacancy.berufsfeld"
                   placeholder="Berufsfeld">
            <md-option *ngFor="let branche of branchen" [value]="branche">
                {{ branche.name }}
            </md-option>
        </md-select>
    </div>

    <div class="row">
        <md-select class="col-sm-12" name="vertragsart" [multiple]="true" [(ngModel)]="selectedVertragsarten"
                   placeholder="Vertragsart">
            <md-option *ngFor="let vertragsart of vertragsarten" [value]="vertragsart">
                {{ vertragsart.name }}
            </md-option>
        </md-select>
    </div>

    <div class="form-group col-lg-12">
        <label>Befristetes Arbeitsverhältnis</label>
        <input type="checkbox" [(ngModel)]="vacancy.befristetesArbeitsverhaeltnis" class="form-control" name="befristetesArbeitsverhaeltnis" >
    </div>


    <div class="row">
        <md-input-container class="col-xs-12">
            <textarea mdInput [(ngModel)]="vacancy.anforderung" maxlength="150" name="anforderung" placeholder="Stellenanforderungen" required [formControl]="anforderungControl"></textarea>
            <md-error *ngIf="anforderungControl.hasError('maxLength')">
                Die Anfoderungsbeschreibung darf nicht länger als 150 Zeichen sein
            </md-error>
            <md-error *ngIf="anforderungControl.hasError('required')">
                This is <strong>required</strong>
            </md-error>
            <md-hint *ngIf="vacancy.anforderung" align="end">{{vacancy.anforderung.length}} / 150</md-hint>
        </md-input-container>
    </div>
    <div class="row">
        <md-select class="col-sm-12" name="sprachen" [multiple]="true" [(ngModel)]="selectedSprachen"
                   placeholder="Sprachen">
            <md-option *ngFor="let sprache of sprachen" [value]="sprache">
                {{ sprache.name }}
            </md-option>
        </md-select>
    </div>
    <div class="row">
        <md-input-container class="col-md-6">
            <input type="number" mdInput [(ngModel)]="vacancy.monatsgehalt" placeholder="Monatsgehalt"
                   name="gehalt" required>
        </md-input-container>

        <md-input-container class="col-md-6">
            <input mdInput [(ngModel)]="vacancy.start" [mdDatepicker]="picker" placeholder="Eintrittstermin" name="start" required>
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
        </md-input-container>
        <md-datepicker #picker [touchUi]="true"></md-datepicker>

    </div>


    <div class="row">
        <md-input-container class="col-md-6">
            <input mdInput [(ngModel)]="vacancy.partner"  pattern="^[a-zA-ZßÄäÖöÜü/. -]+$" name="partner" placeholder="Ansprechpartner" required [formControl]="ansprechpartnerControl">
            <md-error *ngIf="ansprechpartnerControl.hasError('pattern')">
                Bitte geben Sie einen Ansprechpartner an
            </md-error>
            <md-error *ngIf="ansprechpartnerControl.hasError('required')">
                This is <strong>required</strong>
            </md-error>
        </md-input-container>

        <md-input-container class="col-md-6">
            <input mdInput [(ngModel)]="vacancy.arbeitsort"  pattern="^[a-zA-ZßÄäÖöÜü/. -]+$" name="arbeitsort" placeholder="Arbeitsort" required [formControl]="arbeitsortControl">
            <md-error *ngIf="arbeitsortControl.hasError('pattern')">
                Bitte geben Sie den Arbeitsort an
            </md-error>
            <md-error *ngIf="arbeitsortControl.hasError('required')">
                This is <strong>required</strong>
            </md-error>
        </md-input-container>
    </div>
    <div class="form-group col-lg-12">
        <label>Aktiv</label>
        <input type="checkbox" [(ngModel)]="vacancy.aktiv" class="form-control" name="aktiv" required>
    </div>

    <div class="pull-right">
        <button md-raised-button (click)="save()"
                [disabled]="!form.valid || ansprechpartnerControl.status=='INVALID' || anforderungControl.status=='INVALID' || descriptionControl.status=='INVALID' || arbeitsortControl.status=='INVALID'">Speichern</button>
    </div>
</form>

<div class="alert alert-danger" role="alert" [hidden]="!error">{{error}}</div>
