<form class="full-width" #form="ngForm">
    <h2>Passwort vergessen?</h2>
    <div class="row">
        <md-input-container class="col-sm-12">
            <input mdInput [(ngModel)]="username" name="username" placeholder="E-Mail" required>
        </md-input-container>
    </div>
    <a [routerLink]=" ['../signup'] " routerLinkActive="active">Ich habe noch keinen Account</a>
    <div class="pull-right">
        <button md-raised-button (click)="resetPassword()" [disabled]="!form.valid">Passwort zurücksetzen</button>
    </div>
</form>
<div [hidden]="!result.message">
  <div *ngIf="result.isError">
    <div class="alert alert-danger" role="alert">{{result.message}}</div>
  </div>
  <div *ngIf="!result.isError">
    <div class="alert alert-success" role="alert">{{result.message}}</div>
  </div>
</div>
