<div class="panel panel-default">
  <div class="panel-heading">Passwort vergessen?</div>
  <div class="panel-body">
    <form #form="ngForm">
      <div class="row">
        <div class="form-group col-lg-12">
          <label>E-Mail</label>
          <input type="text" [(ngModel)]="username" class="form-control" name="username" required>
        </div>
      </div>
      <a [routerLink]=" ['/signup'] " routerLinkActive="active">Ich habe noch keinen Account</a>
      <div class="pull-right">
        <button class="btn btn-info" type="button" (click)="resetPassword()" [disabled]="!form.valid">
          Passwort zurücksetzen
        </button>
      </div>
    </form>
  </div>
</div>
<div [hidden]="!result.message">
  <div *ngIf="result.isError">
    <div class="alert alert-danger" role="alert">{{result.message}}</div>
  </div>
  <div *ngIf="!result.isError">
    <div class="alert alert-success" role="alert">{{result.message}}</div>
  </div>
</div>
