<div class="panel panel-default">
  <div class="panel-heading">Kurzprofil</div>
  <div class="panel-body">
    <form #form="ngForm">
      <!--Wird nur bei iscomp == false angezeigt -->
      <div  class="row">
        <div class="grid-layout">
          <div class="box1">
            <label>Profilbild</label>
            <img [src]="getImageUrl(message)">
          </div>


          <div class="box2">
            <label>Name</label>
              <h2>{{bewerber.titel}} {{bewerber.vorname}} {{bewerber.nachname}}</h2>
          </div>

          <div class="box2">
            <label>Jobbezeichnung</label>
              <h2>{{bewerber.jobBezeichnung}}</h2>
          </div>


          <div class="pitch">
            <label>Pitch</label>
              <h1>{{bewerber.pitch}}</h1>
          </div>


          <div class="box3">
            <label>Ausbildung</label>
              <h2>{{bewerber.ausbildung}}</h2>
          </div>

          <div class="box3">
            <label>Kernkompetenzen</label>
              <h2>{{bewerber.fachkompetenzen}}</h2>
          </div>
          <div class="box3">
            <label>Sprachen</label>
              <h2>{{bewerber.sprachen}}</h2>
          </div>

          <div class="box3">
            <label>Softskills</label>
              <h2>{{bewerber.softskills}}</h2>
          </div>



        </div>
      </div>
    </form>
  </div>
</div>
