/**
 * Diese Komponente erzeugt ein Formular, welches das Zurücksetzen eines Passwortes ermöglicht.
 * Außerdem besteht die Möglichkeit durch einen Link auf die Registrierungsmaske zu kommen.
*/
<form class="full-width" #form="ngForm">
    <h2>Passwort vergessen?</h2>
    <div class="row">
        <md-input-container class="col-sm-12">
            <input mdInput [(ngModel)]="username" name="username" placeholder="E-Mail" required>
        </md-input-container>
    </div>
    <a [routerLink]="['/signup', username]">Ich habe noch keinen Account</a>
    <div class="pull-right">
        <button md-raised-button (click)="resetPassword()" [disabled]="!form.valid">Passwort zurücksetzen</button>
    </div>
</form>
