<div *ngIf="cards.length > 0; else no_swipe">
  <div class="row">
    <div class="card-container">
      <sc-card
              *ngFor="let card of cards;let i = index;"
              [callDestroy]="card.destroyEvent"
              [orientation]="orientation"
              (onRelease)="onRelease($event)"
              (onSwipe)="onSwipe($event)"
              (onAbort)="onAbort($event)"
              [tinder-card]="overlay"
              [callLike]="card.likeEvent"
              (onLike)="onCardLike($event)">
        <div class="card-header">
          <span class="card-bezeichnung">{{card.vorname}} {{card.nachname}}</span>
          <span class="card-pitch">"{{card.pitch}}"</span>
        </div>
        <div class="card-logo">
          <img [src]="(card && card.profilbild && card.profilbild.url) || 'http://via.placeholder.com/300x300'"
               alt="..." class="img-circle img-responsive">
        </div>
        <div class="card-content">
          <span>{{card.beschreibung}}</span>
        </div>
      </sc-card>
    </div>
  </div>
  <div class="row" style="margin-top:550px;">
    <div class="text-center">
      <button (click)="like(false)" type="button" class="btn btn-danger btn-circle btn-xl"><i
              class="glyphicon glyphicon-remove"></i></button>
      <button (click)="like(true)" type="button" class="btn btn-success btn-circle btn-xl"><i
              class="glyphicon glyphicon-ok"></i></button>
    </div>
  </div>
</div>
<ng-template #no_swipe>
  <span class="noCards">
    Zur Zeit liegen leider keine passenden Vorschläge vor :-(<br>
    Jetzt <a [routerLink]="['/vacancies']">Stellenangebote bearbeiten</a>!
  </span>
</ng-template>
