<div *ngIf="cards && cards.length > 0; else no_swipe">
  <div class="row">
    <div class="card-container">
      <sc-card
              *ngFor="let card of cards;let i = index;"
              [callDestroy]="card.destroyEvent"
              [orientation]="orientation"
              (onRelease)="onRelease($event)"
              (onSwipe)="onSwipe($event)"
              (onAbort)="onAbort($event)"
              [tinder-card]="overlay"
              [callLike]="card.likeEvent"
              (onLike)="onCardLike($event)">
        <div class="card-header">
            <span class="card-titel">{{card.bewerber.titel}}</span>
            <span class="card-bezeichnung">{{card.bewerber.vorname}} {{card.bewerber.nachname}}</span>
          <span class="card-pitch">"{{card.bewerber.pitch}}"</span>
        </div>
        <div class="card-logo">
          <img [src]="(card && card.bewerber && card.bewerber.profilbild && card.bewerber.profilbild.url) || 'http://via.placeholder.com/300x300'"
               alt="..." class="img-circle img-responsive">
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-sm-6 center-items">
                    <h4><span class="label label-default">Ausbildung</span></h4>
                    <p>{{card.bewerber.ausbildung}}</p>
                </div>
                <div class="col-sm-6 center-items">
                    <h4><span class="label label-default">Geburtsdatum</span></h4>
                    <p>{{card.bewerber.geburtsdatum | date}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 center-items">
                    <h4><span class="label label-default">Softskills</span></h4>
                    <p>{{card.bewerber.softskills}}</p>
                </div>
                <div class="col-sm-6 center-items">
                    <h4><span class="label label-default">Fachkompetenzen</span></h4>
                    <p>{{card.bewerber.fachkompetenzen}}</p>
                </div>
            </div>
        </div>
      </sc-card>
    </div>
  </div>
  <div class="row swipe-buttons">
    <div class="text-center">
      <button (click)="like(false)" type="button" class="btn btn-danger btn-circle btn-xl"><i
              class="glyphicon glyphicon-remove"></i></button>
      <button (click)="like(true)" type="button" class="btn btn-success btn-circle btn-xl"><i
              class="glyphicon glyphicon-ok"></i></button>
    </div>
  </div>
</div>
<ng-template #no_swipe>
    <div class="row swijoInfo">
        <div class="well">
            Zur Zeit liegen leider keine passenden Vorschläge vor :-(<br>
            Jetzt <a [routerLink]="['/vacancies']">Stellenangebote bearbeiten</a>!
        </div>
    </div>
</ng-template>
