<div class="panel panel-default">
  <div class="panel-heading">Signup</div>
  <div class="panel-body">
    <form #form="ngForm">
      <div class="row">
        <div class="form-group col-lg-12">
          <label>E-Mail</label>
          <input type="text" [(ngModel)]="user.username" class="form-control" name="username"
                 required>
        </div>
        <div class="form-group col-lg-12">
          <label>Password</label>
          <input type="password" [(ngModel)]="user.password" class="form-control" name="password"
                 required>
        </div>
        <div class="form-group col-lg-12">
          <div class="radio">
            <label>
              <input type="radio" name="iscomp" [(ngModel)]="user.iscomp" [value]="false">
              Bewerber
            </label>
            <label>
              <input type="radio" name="iscomp" [(ngModel)]="user.iscomp" [value]="true">
              Unternehmen
            </label>
          </div>
        </div>
      </div>
      <div class="pull-right">
        <button class="btn btn-info" type="button" (click)="register()" [disabled]="!form.valid">
          Registrieren
        </button>
      </div>
    </form>
  </div>
</div>
<div [hidden]="!result.message">
  <div *ngIf="result.isError">
    <div class="alert alert-danger" role="alert">{{result.message}}</div>
  </div>
  <div *ngIf="!result.isError">
    <div class="alert alert-success" role="alert">{{result.message}}</div>
  </div>
</div>
