<form class="full-width" #form="ngForm">
  <h2>Anmelden</h2>
  <div class="row">
    <md-input-container class="col-sm-12">
      <input mdInput [(ngModel)]="user.username" name="username" placeholder="E-Mail" required>
    </md-input-container>
  </div>
  <div class="row">
    <md-input-container class="col-sm-12">
      <input type="password" mdInput [(ngModel)]="user.password" name="password" placeholder="Passwort" required>
    </md-input-container>
  </div>
  <a [routerLink]=" ['../signup', user.username] ">Ich habe noch keinen Account</a>
  <br>
  <a [routerLink]=" ['../forgotPassword', user.username]">Passwort vergessen?</a>
  <div class="pull-right">
    <button md-raised-button (click)="logIn()" [disabled]="!form.valid">Log In</button>
  </div>
</form>
