<div class="panel panel-default">
  <div class="panel-heading">Neues Passwort setzen</div>
  <div class="panel-body">
    <form #form="ngForm">
      <div class="row">
        <div class="form-group col-lg-12">
          <label>Passwort</label>
          <input type="password" [(ngModel)]="password" class="form-control" name="password" required>
        </div>
      </div>
      <div class="pull-right">
        <button class="btn btn-info" type="button" (click)="setNewPassword()" [disabled]="!form.valid">
          Passwort bestätigen
        </button>
      </div>
    </form>
  </div>
</div>
<div class="alert alert-danger" role="alert" [hidden]="!error">{{error}}</div>
