<!-- Diese Komponente kümmert sich um das Anzeigen der Matches -->

<md-nav-list *ngIf="matches.length > 0; else no_matches">
    <a md-list-item *ngFor="let match of matches" [routerLink]=" ['../match', match.key]">
        <h3 md-line>{{match.angebot.beschreibung}}</h3>
        <p md-line>
            {{match.bewerber.vorname}} {{match.bewerber.nachname}} mit {{match.angebot.unternehmen.name}}
        </p>
        <md-icon>remove_red_eye</md-icon>
    </a>
</md-nav-list>
<ng-template #no_matches>
    <div class="row swijoInfo">
        <div class="well">
            Zur Zeit liegen leider keine Matches vor :-(<br>
            Jetzt auf die <a [routerLink]="[swipeLink]">Suche</a> gehen!
        </div>
    </div>
</ng-template>
