<form class="full-width" #form="ngForm">
    <!-- Bewerberansicht -->
    <h2>Persönliche Angaben</h2>
    <div class="columns">
        <md-input-container class="column is-8">
            <input mdInput [(ngModel)]="bewerber.titel" name="titel" placeholder="Titel" required>
        </md-input-container>

        <md-input-container class="column">
            <input mdInput [(ngModel)]="bewerber.vorname" placeholder="Vorname" name="vorname" required>
        </md-input-container>

        <md-input-container class="column">
            <input mdInput [(ngModel)]="bewerber.nachname" placeholder="Nachname" name="nachname" required>
        </md-input-container>

        <md-input-container class="column">
            <input mdInput [(ngModel)]="bewerber.geburtsdatum" placeholder="Geburtsdatum" name="geburtsdatum" required>
        </md-input-container>

        <md-input-container class="column">
            <input mdInput [(ngModel)]="bewerber.profilbild" placeholder="Profilbild" name="profilbild" required>
        </md-input-container>
    </div>
    <h2>One-Sentence-Pitch</h2>
    <div class="columns">
        <md-input-container class="column">
            <input mdInput [(ngModel)]="bewerber.jobBezeichnung" placeholder="Job Bezeichnung" name="job" required>
        </md-input-container>

        <md-input-container class="column">
            <textarea mdInput [(ngModel)]="bewerber.pitch" name="pitch" placeholder="Pitch" required></textarea>
        </md-input-container>
    </div>
    <h2>Adresse</h2>
    <div class="columns">
        <md-input-container class="column is-8">
            <input mdInput [(ngModel)]="bewerber.strasse" name="strasse" placeholder="Strasse" required>
        </md-input-container>

        <md-input-container class="column">
            <input mdInput [(ngModel)]="bewerber.hausnummer" placeholder="Nummer" name="hausnr" required>
        </md-input-container>

        <md-input-container class="column">
            <input mdInput [(ngModel)]="bewerber.adresszusatz" placeholder="Zusatz" name="zusatz" required>
        </md-input-container>

        <md-input-container class="column">
            <input mdInput [(ngModel)]="bewerber.telefonnummer" placeholder="Telefonnummer" name="telefon" required>
        </md-input-container>

        <md-input-container class="column">
            <input mdInput [(ngModel)]="bewerber.homepage" placeholder="Homepage" name="homepage" required>
        </md-input-container>
    </div>
    <div class="columns is-mobile">
        <md-input-container class="column">
            <input mdInput [(ngModel)]="bewerber.plz" placeholder="PLZ" name="plz" required>
        </md-input-container>

        <md-input-container class="column is-three-quarters">
            <input mdInput [(ngModel)]="bewerber.wohnort" placeholder="Ort" name="ort" required>
        </md-input-container>
    </div>
    <h2>Kompetenzen</h2>
    <div class="columns">
        <md-input-container class="column is-8">
            <input mdInput [(ngModel)]="bewerber.fachkompetenzen" name="fachkompetenzen" placeholder="Fachkompetenzen"
                   required>
        </md-input-container>

        <md-input-container class="column">
            <input mdInput [(ngModel)]="bewerber.softskills" placeholder="Softskills" name="softskills" required>
        </md-input-container>

        <md-input-container class="column">
            <input mdInput [(ngModel)]="bewerber.ausbildung" placeholder="Ausbildung" name="ausbildung" required>
        </md-input-container>

        <md-input-container class="column">
            <input mdInput [(ngModel)]="bewerber.sprachen" placeholder="Sprachen" name="sprachen" required>
        </md-input-container>

        <md-input-container class="column">
            <input mdInput [(ngModel)]="bewerber.lebenslauf" placeholder="Lebenslauf" name="lebenslauf" required>
        </md-input-container>
    </div>
    <h2>Ich suche</h2>
    <div class="row">
        <md-select class="col-sm-12" name="vertragsart" [multiple]="true" [(ngModel)]="selectedVertragsarten"
                   placeholder="Vertragsart">
            <md-option *ngFor="let vertragsart of vertragsarten" [value]="vertragsart">
                {{ vertragsart.name }}
            </md-option>
        </md-select>
    </div>
    <div class="pull-right">
        <button md-raised-button (click)="save()" [disabled]="!form.valid">Speichern</button>
    </div>
</form>

<div layout="row">
  <md-input-container tdFileDrop
                      [disabled]="disabled"
                      (fileDrop)="files = $event"
                      (click)="fileInput.inputElement.click()"
                      (keyup.enter)="fileInput.inputElement.click()"
                      (keyup.delete)="fileInput.clear()"
                      (keyup.backspace)="fileInput.clear()"
                      flex>
    <input mdInput
           placeholder="select or drop files"
           [value]="files?.length ? (files?.length + ' files') : files?.name"
           [disabled]="disabled"
           readonly/>
  </md-input-container>
  <button md-icon-button *ngIf="files" (click)="fileInput.clear()" (keyup.enter)="fileInput.clear()">
    <md-icon>cancel</md-icon>
  </button>
  <td-file-input class="push-left-sm push-right-sm" #fileInput [(ngModel)]="files" multiple [disabled]="disabled">
    <md-icon>folder</md-icon>
    <span class="text-upper">Browse...</span>
  </td-file-input>
  <span>
    <button md-raised-button color="accent" [disabled]="!files" class="text-upper">Submit</button>
  </span>
</div>

