<!-- Diese Komponente erzeugt das Konfigurationsformular für den Bewerber -->

<form class="full-width" #form="ngForm">
    <md-nav-list>
        <a md-list-item (click)="updateActiveBlock(PERSONAL_BLOCK)" class="row">
            <md-icon *ngIf="activeBlock===PERSONAL_BLOCK">expand_less</md-icon>
            <md-icon *ngIf="activeBlock!==PERSONAL_BLOCK">expand_more</md-icon>
            <h2 md-line>PERSÖNLICHE ANGABEN</h2>
        </a>
        <div [hidden]="activeBlock!==PERSONAL_BLOCK">
            <div class="row">
                <div class="col-md-2">
                    <md-input-container>
                        <input mdInput [(ngModel)]="bewerber.titel" name="titel" placeholder="Titel">
                    </md-input-container>
                </div>

                <md-input-container class="col-md-5">
                    <input mdInput [(ngModel)]="bewerber.vorname" pattern="^[a-zA-ZßÄäÖöÜü/. -]+$" name="vorname"
                           placeholder="Vorname" required [formControl]="vornameControl">
                    <md-error *ngIf="vornameControl.hasError('pattern')">
                        Bitte gib deinen Vornamen an
                    </md-error>
                    <md-error *ngIf="vornameControl.hasError('required')">
                        This is <strong>required</strong>
                    </md-error>
                </md-input-container>
                <md-input-container class="col-md-5">
                    <input mdInput [(ngModel)]="bewerber.nachname" pattern="^[a-zA-ZßÄäÖöÜü/. -]+$" name="nachname"
                           placeholder="Nachname" required [formControl]="nachnameControl">
                    <md-error *ngIf="nachnameControl.hasError('pattern')">
                        Bitte gib deinen Nachnamen an
                    </md-error>
                    <md-error *ngIf="nachnameControl.hasError('required')">
                        This is <strong>required</strong>
                    </md-error>
                </md-input-container>
            </div>

            <div class="row">
                <md-input-container class="col-md-4">
                    <input mdInput [(ngModel)]="bewerber.geburtsdatum" [mdDatepicker]="birthDatePicker"
                           placeholder="Geburtsdatum"
                           name="geburtsdatum" required>
                    <button mdSuffix [mdDatepickerToggle]="birthDatePicker"></button>
                </md-input-container>
                <md-datepicker #birthDatePicker [touchUi]="true"></md-datepicker>
                <md-input-container class="col-md-8">
                    <input mdInput [(ngModel)]="bewerber.homepage"
                           pattern="(http(s)?://)?([\w-]+\.)+[\w-]+(/[\w- ;,./?%&=]*)?" name="homepage"
                           placeholder="Homepage" [formControl]="homepageControl">
                    <md-error *ngIf="homepageControl.hasError('pattern')">
                        Keine gültige Homepage!
                    </md-error>

                </md-input-container>
            </div>

            <div class="row">
                <md-input-container class="col-sm-8"
                                    tdFileDrop
                                    (fileDrop)="profilbild = $event"
                                    (click)="imageInput.inputElement.click()"
                                    (keyup.enter)="imageInput.inputElement.click()"
                                    (keyup.delete)="imageInput.clear()"
                                    (keyup.backspace)="imageInput.clear()"
                                    flex>
                    <input mdInput placeholder="Profilbild" [value]="profilbild?.name" readonly required/>
                </md-input-container>
                <div class="col-sm-1">
                    <button md-icon-button *ngIf="profilbild" (click)="imageInput.clear()"
                            (keyup.enter)="imageInput.clear()">
                        <md-icon>cancel</md-icon>
                    </button>
                </div>
                <div class="col-sm-2">
                    <td-file-input #imageInput name="profilbild" [(ngModel)]="profilbild" required>
                        <span class="text-upper">Browse...</span>
                    </td-file-input>
                </div>
            </div>
        </div>


        <a md-list-item (click)="updateActiveBlock(ADDRESS_BLOCK)" class="row">
            <md-icon *ngIf="activeBlock===ADDRESS_BLOCK">expand_less</md-icon>
            <md-icon *ngIf="activeBlock!==ADDRESS_BLOCK">expand_more</md-icon>
            <h2 md-line>ADRESSE</h2>
        </a>
        <div [hidden]="activeBlock!==ADDRESS_BLOCK">
            <div class="row">
                <md-input-container class="col-md-6">
                    <input mdInput [(ngModel)]="bewerber.strasse" pattern="^[a-zA-ZßÄäÖöÜü/. -]+$" name="strasse"
                           placeholder="Strasse" required [formControl]="strasseControl">
                    <md-error *ngIf="strasseControl.hasError('pattern')">
                        Bitte gib deine Straße an
                    </md-error>
                    <md-error *ngIf="strasseControl.hasError('required')">
                        This is <strong>required</strong>
                    </md-error>
                </md-input-container>
                <md-input-container class="col-md-3">
                    <input mdInput [(ngModel)]="bewerber.hausnummer" placeholder="Nummer" name="hausnr" required>
                </md-input-container>

                <md-input-container class="col-md-3">
                    <input mdInput [(ngModel)]="bewerber.adresszusatz" placeholder="Zusatz" name="zusatz">
                </md-input-container>
            </div>

            <div class="row">
                <md-input-container class="col-md-4">
                    <input mdInput [(ngModel)]="bewerber.plz" type="text"
                           pattern="^([0]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{3}$" name="plz" placeholder="Postleitzahl"
                           required [formControl]="plzControl">
                    <md-error *ngIf="plzControl.hasError('pattern')">
                        Keine gültige Postleitzahl
                    </md-error>
                    <md-error *ngIf="plzControl.hasError('required')">
                        This is <strong>required</strong>
                    </md-error>
                </md-input-container>
                <md-input-container class="col-md-8">
                    <input mdInput [(ngModel)]="bewerber.wohnort" pattern="^[a-zA-ZßÄäÖöÜü/. -]+$" name="wohnort"
                           placeholder="Wohnort" required [formControl]="wohnortControl">
                    <md-error *ngIf="wohnortControl.hasError('pattern')">
                        Bitte gib deinen Wohnort an
                    </md-error>
                    <md-error *ngIf="wohnortControl.hasError('required')">
                        This is <strong>required</strong>
                    </md-error>
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="col-md-8">
                    <input mdInput [(ngModel)]="bewerber.email" placeholder="Email-Adresse" name="email"
                           required>
                </md-input-container>
                <md-input-container class="col-md-4">
                    <input mdInput [(ngModel)]="bewerber.telefonnummer" placeholder="Telefon" name="telefon"
                           required>
                </md-input-container>
            </div>
        </div>


        <a md-list-item (click)="updateActiveBlock(PITCH_BLOCK)" class="row">
            <md-icon *ngIf="activeBlock===PITCH_BLOCK">expand_less</md-icon>
            <md-icon *ngIf="activeBlock!==PITCH_BLOCK">expand_more</md-icon>
            <h2 md-line>ONE-SENTENCE-PITCH</h2>
        </a>
        <div [hidden]="activeBlock!==PITCH_BLOCK">
            <div class="row">
                <md-input-container class="col-xs-12">
                    <textarea mdInput [(ngModel)]="bewerber.pitch" maxlength="150" name="pitch" placeholder="Pitch"
                              required [formControl]="pitchControl"></textarea>
                    <md-error *ngIf="pitchControl.hasError('maxLength')">
                        Der Pitch darf nicht länger als 150 Zeichen sein
                    </md-error>
                    <md-error *ngIf="pitchControl.hasError('required')">
                        Pitch is <strong>required</strong>
                    </md-error>
                    <md-hint *ngIf="bewerber.pitch" align="end">{{bewerber.pitch.length}} / 150</md-hint>
                </md-input-container>
            </div>
        </div>


        <a md-list-item (click)="updateActiveBlock(QUALIFICATIONS_BLOCK)" class="row">
            <md-icon *ngIf="activeBlock===QUALIFICATIONS_BLOCK">expand_less</md-icon>
            <md-icon *ngIf="activeBlock!==QUALIFICATIONS_BLOCK">expand_more</md-icon>
            <h2 md-line>QUALIFIKATIONEN</h2>
        </a>
        <div [hidden]="activeBlock!==QUALIFICATIONS_BLOCK">
            <div class="row">
                <md-input-container class="col-xs-12">
                    <textarea mdInput [(ngModel)]="bewerber.fachkompetenzen" maxlength="100" name="fachkompetenzen"
                              placeholder="Fachkompetenzen" required [formControl]="fachkompetenzenControl"></textarea>
                    <md-error *ngIf="fachkompetenzenControl.hasError('maxLength')">
                        Dieses Feld darf nicht länger als 100 Zeichen sein
                    </md-error>
                    <md-error *ngIf="fachkompetenzenControl.hasError('required')">
                        This is <strong>required</strong>
                    </md-error>
                    <md-hint *ngIf="bewerber.fachkompetenzen" align="end">{{bewerber.fachkompetenzen.length}} / 100
                    </md-hint>
                </md-input-container>
            </div>

            <div class="row">
                <md-input-container class="col-xs-12">
                    <textarea mdInput [(ngModel)]="bewerber.softskills" maxlength="100" name="softskills"
                              placeholder="Softskills" required [formControl]="softskillsControl"></textarea>
                    <md-error *ngIf="softskillsControl.hasError('maxLength')">
                        Dieses Feld darf nicht länger als 100 Zeichen sein
                    </md-error>
                    <md-error *ngIf="softskillsControl.hasError('required')">
                        This is <strong>required</strong>
                    </md-error>
                    <md-hint *ngIf="bewerber.softskills" align="end">{{bewerber.softskills.length}} / 100</md-hint>
                </md-input-container>
            </div>

            <div class="row">
                <md-input-container class="col-xs-12">
                    <input mdInput [(ngModel)]="bewerber.ausbildung" maxlength="50" name="ausbildung"
                           placeholder="Ausbildung" required [formControl]="ausbildungControl">
                    <md-error *ngIf="ausbildungControl.hasError('maxLength')">
                        Dieses Feld darf nicht länger als 50 Zeichen sein
                    </md-error>
                    <md-error *ngIf="ausbildungControl.hasError('required')">
                        This is <strong>required</strong>
                    </md-error>
                    <md-hint *ngIf="bewerber.ausbildung" align="end">{{bewerber.ausbildung.length}} / 50</md-hint>
                </md-input-container>
            </div>

            <div class="row">
                <md-select class="col-md-12" name="sprache" [multiple]="true" [(ngModel)]="selectedSprachen"
                           placeholder="Sprachkenntnisse">
                    <md-option *ngFor="let sprache of sprachen" [value]="sprache">
                        {{ sprache.name }}
                    </md-option>
                </md-select>
            </div>

            <div class="row">
                <md-input-container class="col-sm-8"
                                    tdFileDrop
                                    (fileDrop)="lebenslauf = $event"
                                    (click)="lebenslaufInput.inputElement.click()"
                                    (keyup.enter)="lebenslaufInput.inputElement.click()"
                                    (keyup.delete)="lebenslaufInput.clear()"
                                    (keyup.backspace)="lebenslaufInput.clear()"
                                    flex>
                    <input mdInput placeholder="Lebenslauf" [value]="lebenslauf?.name" readonly/>
                </md-input-container>
                <div class="col-sm-1">
                    <button md-icon-button *ngIf="lebenslauf" (click)="lebenslaufInput.clear()"
                            (keyup.enter)="lebenslaufInput.clear()">
                        <md-icon>cancel</md-icon>
                    </button>
                </div>
                <div class="col-sm-2">
                    <td-file-input #lebenslaufInput name="lebenslauf"
                                   [(ngModel)]="lebenslauf">
                        <span class="text-upper">Browse...</span>
                    </td-file-input>
                </div>
            </div>
        </div>


        <a md-list-item (click)="updateActiveBlock(JOB_BLOCK)" class="row">
            <md-icon *ngIf="activeBlock===JOB_BLOCK">expand_less</md-icon>
            <md-icon *ngIf="activeBlock!==JOB_BLOCK">expand_more</md-icon>
            <h2 md-line>ICH SUCHE</h2>
        </a>
        <div [hidden]="activeBlock!==JOB_BLOCK">
            <div class="row">
                <md-input-container class="col-md-8">
                    <input mdInput [(ngModel)]="bewerber.jobBezeichnung" placeholder="Job Bezeichnung" name="job"
                           required>
                </md-input-container>
                <md-input-container class="col-md-4">
                    <input mdInput type="number" [(ngModel)]="bewerber.mindestMonatsGehalt" name="mindestMonatsGehalt"
                           placeholder="Gehaltsvorstellungen" [formControl]="gehaltControl">
                    <md-error *ngIf="gehaltControl.hasError('min')">
                        Bitte geben Sie einen positiven Wert ein
                    </md-error>
                </md-input-container>
            </div>

            <div class="row">
                <md-select class="col-md-8" name="berufsfeld" [(ngModel)]="bewerber.berufsfeld"
                           placeholder="Berufsfeld" required>
                    <md-option *ngFor="let berufsfeld of berufsfelder" [value]="berufsfeld">
                        {{ berufsfeld.name }}
                    </md-option>
                </md-select>
                <md-select class="col-md-4" name="arbeitsverhaeltnis" [(ngModel)]="bewerber.arbeitsverhaeltnis"
                           placeholder="Arbeitsverhältnis" required>
                    <md-option *ngFor="let arbeitsverhaeltnis of arbeitsverhaeltnisse" [value]="arbeitsverhaeltnis">
                        {{ arbeitsverhaeltnis.name }}
                    </md-option>
                </md-select>
            </div>

            <div class="row">
                <md-select class="col-md-12" name="vertragsart" [multiple]="true" [(ngModel)]="selectedVertragsarten"
                           placeholder="Vertragsart">
                    <md-option *ngFor="let vertragsart of vertragsarten" [value]="vertragsart">
                        {{ vertragsart.name }}
                    </md-option>
                </md-select>
            </div>

            <div class="row">
                <md-input-container class="col-md-6">
                    <input mdInput [(ngModel)]="bewerber.arbeitsort" pattern="^[a-zA-ZßÄäÖöÜü/. -]+$" name="arbeitsort"
                           placeholder="Gewünschter Arbeitsort" required [formControl]="arbeitsortControl">
                    <md-error *ngIf="arbeitsortControl.hasError('pattern')">
                        Bitte gib deinen gewünschten Arbeitsort an
                    </md-error>
                    <md-error *ngIf="arbeitsortControl.hasError('required')">
                        This is <strong>required</strong>
                    </md-error>
                </md-input-container>
                <md-input-container class="col-md-6">
                    <input mdInput [(ngModel)]="bewerber.startdatum" [mdDatepicker]="startDatePicker"
                           placeholder="Frühstmöglicher Eintrittstermin" name="startdatum">
                    <button mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
                </md-input-container>
                <md-datepicker #startDatePicker [touchUi]="true"></md-datepicker>
            </div>
        </div>
    </md-nav-list>

    <div class="pull-right">
        <button
                md-raised-button
                (click)="save()"
                [disabled]="!form.valid || pitchControl.status == 'INVALID' || fachkompetenzenControl.status =='INVALID' || softskillsControl.status=='INVALID' || ausbildungControl.status == 'INVALID' || plzControl.status=='INVALID' || strasseControl.status=='INVALID'||  vornameControl.status=='INVALID' || homepageControl.status=='INVALID' || wohnortControl.status=='INVALID' || nachnameControl.status=='INVALID' || arbeitsortControl.status=='INVALID' || gehaltControl.status=='INVALID'">
            Speichern
        </button>
    </div>
</form>
