<form class="full-width" #form="ngForm">
    <h2>Neues Passwort setzen</h2>
    <div class="row">
        <md-input-container class="col-sm-12">
            <input type="password" mdInput [(ngModel)]="password" name="password" placeholder="Passwort" required>
        </md-input-container>
    </div>
    <div class="pull-right">
        <button md-raised-button (click)="setNewPassword()" [disabled]="!form.valid">Passwort bestätigen</button>
    </div>
</form>
<div class="alert alert-danger" role="alert" [hidden]="!error">{{error}}</div>
