/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
//@import '../node_modules/bulma/sass/utilities/_all';
//@import '../node_modules/bulma/sass/grid/columns';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
//@import '../node_modules/@angular/material/_theming';
@import '../node_modules/@covalent/core/common/platform.css';

html, body {
  height: 100%;
  background: #fafafa;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.card-container {
  margin: auto;
  height: 80%;
  width: 80%;
  max-width: 500px;
  padding-top: 30px;
}

sc-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  height: 250px;
  background: #B993D6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #FEFEFE;
}

.card-content {
  height: 150px;
  padding: 0 25px;
}

.card-pitch {
  font-family: 'Nixie One', cursive;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

.card-bezeichnung {
  font-size: 20px;
  font-weight: 800;
}

.card-logo {
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card-logo img{
  height: 125px;
  margin-top: -62.5px;
}

.badge {
    margin-bottom: 8px;
}



.card-header2 span {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px;
  background-color: #E1E1E1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-heap {
  min-height: 600px;
}

.connecting-line {
    width: 2px;
    height: 50px;
    background: #ACACAC;
}

.center-items{
    align-items: center;
    text-align: center;
}

.swipe-buttons{
    margin-top: 625px;
}

@media only screen and (min-width: 700px) {
    .card-heap {
        min-height: 500px;
    }
    .swipe-buttons{
        margin-top: 550px;
    }
}

.swijoInfo {
  margin-top: 35px;
  text-align: center;
  font-size: 20px;
}

md-select {
  margin-top: 14px;
  margin-bottom: 20px;
}

.logger {
  margin-top: 25px;
}

.mat-input-container, .mat-select {
    display: block !important;
}
