
.grid-layout{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  padding: 1em;
}

.box1{
  padding: 1rem;
  height: 200px;
  background-color: dimgray;
  grid-row: 1/3;
}

.box2 {

  font-size: 16px;
  text-align: center ;
  text-decoration-style: wavy;
  font-weight: bold;
}

.box3 {
  font-size: 16px;
  text-align: center ;
  text-decoration-style: wavy;
  font-weight: bolder;
  display: block;
  height:200px;
}


h1{
  font-size: 20px;
  text-align: center ;
  text-decoration-style: wavy;
  color: white;
  font-weight: bolder;
  display: block;
  line-height:2.5em ;
  height: 2.5em;
  background: #404040; /* Fallback IE 6-8 */
  background-color: rgba(40, 40, 40, 0.6);
}

h2{
  font-size: 16px;
  text-align: center ;
  display: block;
  font-weight: bolder;
  line-height:2.5em ;
  height: 2.5em;
}



.pitch {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #929796;
  grid-column: 1/3 ;
  height: 250px ;
  background-image: url('hintergrund.jpg');
}

.box3 {
  font-size: 16px;
  text-align: center;
  text-decoration-style: wavy;
  color: black;
  font-weight: bolder;
  display: block;
  line-height: 2.5em;
  height: 2.5em;
}


label{
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
